each task in tasks
  .card
    p Name: #{task.name}
    p Assignee: #{task.assignee}
    p Description: #{task.description}
    p Status: #{task.status}
    p Due Date: #{task.dueDate}
    p Completion Date: #{task.completionDate}